[submodule "RealEngine/vendor/spdlog"]
	path = RealEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "RealEngine/vendor/GLFW"]
	path = RealEngine/vendor/GLFW
	url = https://github.com/Dy111111/glfw
[submodule "RealEngine/vendor/RealEngine/vendor/imgui"]
	path = RealEngine/vendor/RealEngine/vendor/imgui
	url = https://github.com/Dy111111/imgui
[submodule "RealEngine/vendor/imgui"]
	path = RealEngine/vendor/imgui
	url = https://github.com/Dy111111/imgui
[submodule "RealEngine/vendor/glm"]
	path = RealEngine/vendor/glm
	url = https://github.com/Dy111111/glm.git
[submodule "RealEngine/vendor/ImGuizmo"]
	path = RealEngine/vendor/ImGuizmo
	url = https://github.com/Dy111111/ImGuizmo
[submodule "RealEngine/vendor/yaml-cpp"]
	path = RealEngine/vendor/yaml-cpp
	url = https://github.com/Dy111111/yaml-cpp
[submodule "RealEngine/vendor/box2d"]
	path = RealEngine/vendor/box2d
	url = https://github.com/Dy111111/box2d
